
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=MedievalSharp&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;    
}

:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;
    --primary-bg-color:#111217;    
    --secondary-bg-color: #28292e;

    --border-color: #28292e;
    --secondary-border-color: #56575a;

    --title-color: #f0f0f0;
    --text_color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9;
    
}


:root[data-theme='light'] {
    --primary-color: #08080f;
    --primary-bg-color:#e9e9e9;
    --secondary-bg-color: #c7c8c9;
    
    --border-color: #c7c8c9;
    --secondary-border-color: #909194;
    
    --title-color: #08080f;
    --text_color: #28292e;
    --link-color: #28292e;
    --icon-color: #56575a;
    
}

html[data-theme='light'] .brand__logo {
    filter: invert(80%);
}

:visited {
    color: var(--text_color);    
}
