@import url('./reset.css');

/* Global Styles */

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', 'Times New Roman', Times, serif;
    color: var(--text-color);
    transition: ease-in-out 1s;    
}

i {
    color: var(--icon-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

b {
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200; 
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    font-family: 'league spartan', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}

p {
    font-size: 1.25rem;
    text-align: justify;
}

/* Header Styles */

.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;    
}

.header__brand .brand__logo {
    width: 3.5rem;
    height: 3.5rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;    
}

.header__nav {
    display: none;    
}

.menu {
    display: flex;    
    align-items: center;       
    background-color: var(--primary-bg-color);    
}

.menu--principal {
    gap: 1rem;    
}

.header__toggle {
        display: flex;
        justify-content: flex-end;
    }

.menu__item {
    width: 100%; 
}

/* Mobile Menu Styles */

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    padding: .5rem 1rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;    
}



/* Main Styles */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu--social {
    gap: 1rem;
}

/* Button Styles */
.btn {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 3.15rem;
    padding: .825rem 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    transition: ease-in-out .3s;
}

.btn:hover {
    transform: scale(1.1);
    transition: ease-in-out .3s;
    font-weight: 600;    
}

.btn--primary {
    border: 1px solid var(--primary-color);    
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary span {
    color: var(--primary-color);
}

.main__content2 {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.main__content2 iframe {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    object-position: center;
}

/* Section Styles */
 /* Skills List Styles */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    justify-content: flex-start;
    padding: 6.25rem 1rem 2rem 1rem;
    margin-top: -5.5rem;
    background: var(--secondary-bg-color);
}

.skills h2 {
    text-transform: none;
    font-size: 2rem;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.skills__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50%;    
}

.skills__logo {
    height: 2.4rem;    
}

/* cards */

.projects {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
}

.projects__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card__cover {
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
    object-position: center;
}

.card__title {
    text-transform: uppercase;
    font-size: 1.5rem;    
}

.card__description {
    color: var(--title-color);
}

.card__buttons {
    display: flex;
    margin-bottom: 2rem;
}


.card__list, .about__list {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 1rem;
}

.card__item, .about__item {
    list-style: disc;
}

.card__body .skills__item {
    width: 4rem;
    height: 4rem;
}

.card__body .skills__logo {
    height: 2rem;
}


/* -- about styles -- */

.about {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
    gap: 1.5rem;
}

.about__content1, .about__content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.about__photo {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border: 1px solid var(--border-color);
}

.about__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.about__icons {
    display: flex;
    align-items: center;
    gap: .85rem;
}

.about__icons i {
    font-size: 1.25rem;
}

.about__content1 .col1 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}

.about__content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}

.row1 {
    padding-bottom: 2rem;
}

.about__content2 .col1 .row1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5rem;    
}

.about__content2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5rem;
}



/* -- accordion styles -- */

.accordion__header {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-border-color);
    background: transparent;
    text-align: left;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: ease-in-out .3s;
}

.accordion__header span {
    color: var(--title-color);
}

.accordion__header.start {
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.accordion__header.end,
.accordion__item.active .accordion__body.end {
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.accordion__item.active .accordion__header.end{
    border-radius: 0;
}

.accordion__body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;    
    border: 1px solid var(--border-color);
}

.accordion__item.active .accordion__header {
    background: var(--secondary-bg-color);
}

.accordion__item.active .accordion__body {
    display: flex;
}

.accordion__item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

/* -- Footer Styles -- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding: .3rem;    
    width: 100%;
    margin-bottom: .5rem;
}

footer p {
    font-size: .875rem;
    text-align: center;
    margin-bottom: 1rem;
}


/* -- contato styles -- */

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 1rem;
    gap: 1.5rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.contact p {
    text-align: center;
}

.contact .btn {
    width: auto;
}

.contact .email {
    text-transform: lowercase;
}


/* -- Media Queries acima de 768px -- */

@media (min-width: 768px) {
    main, .about, .contact {
        padding: 10rem 2.5rem;
        display: flex;        
    }

    .main__content2 {
        width: 100%;
        height: 80%;
        object-fit: contain;
        object-position: center;
    }

    .main__content2 iframe {
        width: 100%;
        height: 80%;        
    }
    
    .nav--mobile {
        display: none;
    }

    .header {
        border-bottom: 1px solid var(--border-color);
        position:fixed;
        padding: 1rem 6rem;
        background-color: var(--primary-bg-color);
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    .main, .projects, .about {
        padding: 12rem 6rem 2rem;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .h1 {
        font-size: 3rem;
        width: 80%;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: .4rem;
    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: .25rem;
        font-weight: 400;
    }

    .skills {
        padding: 8rem 6rem 6.25rem 6rem;
        margin-top: -6rem;
    }

    .projects__container .btn {
        width: auto;
        align-items: center;
        text-align: center;
    }

    .projects__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact {
        width: 100%;
        padding: 6rem;
    }
    
}


/* -- Media Queries acima de 996px -- */

@media (min-width: 996px) {

    .projects__cards {
        flex-direction: row;
    }

    .projects__cards.cards--reverse {
        flex-direction:  row-reverse;
        justify-content: space-between;
    }

    .card__cover {
        width: 55%;
    }

    .about {
        gap: 5rem;
    }

    .about__content1, .about__content2 {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }

    .about__description h2 {
        text-align: left;
    }

    .description__buttons {
        justify-content: flex-start;
    }

}



/* -- Media Queries acima de 1200px -- */

@media (min-width: 1200px) {
    .main {
        padding: 12rem 6rem 2rem;
    }

    .main__content1 .btn {
        width: auto;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 4rem;
    }

    .skills {
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem 6rem;
        margin-top: -6rem;
    }

    .skills h2 {
        font-size: 3.5rem;
        width: 60%;
    }

    .skills__item {
        width: 6rem;
        height: 6rem;
    }

    .skills__list {
        gap: 1rem;
    }

    .skills__logo {
        height: 3rem;
    }

    /* cards */

    .projects__cards {
        flex-direction: row;
        margin-bottom: 3.5rem;
    }

    .projects__cards.cards--reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card__cover {
        width: 55%;
    }

    .card__title {
        font-size: 2rem;
    }

    .card__description, .card__item, .about__item {
        font-size: 1.25rem;
    }

    .card__buttons .btn {
        width: auto;        
    }

}


/* -- Media Queries acima de 1400px -- */

@media (min-width: 1400px) {
    .header {
        padding: 3rem 8rem;
    }

    h2 {
        font-size: 5rem;
    }

    .card__title {
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
    }

    .main, .about {
        padding: 12rem 15rem 2rem;
        h1 {
            font-size: 6.5rem;
        }
    }

    .skills {
        padding: 10rem 15rem 4rem 15rem;        
    }
}

@media (max-width: 767px) {
    
    footer {
        padding-bottom: 5rem;
    }
}