@import url('./reset.css');

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

i {
    color: var(--icon-color);
}

.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.header__brand .brand__logo {
    width: 3.5rem;
    height: 3.5rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.header__nav {
    display: none;    
}

.menu {
    display: flex;    
    align-items: center;       
    background-color: var(--primary-bg-color);    
}

.menu--principal {
    gap: 1rem;    
}

.header__toggle {
        display: flex;
        justify-content: flex-end;
    }

.menu__item {
    width: 100%; 
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .625rem;
    padding: .5rem 1rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon .menu__text {
    color: var(--text_color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;    
}

@media (min-width: 768px) {
    .nav--mobile {
        display: none;
    }

    .header {
        border-bottom: 1px solid var(--border-color);
        position: fixed;
        padding: 1rem 6rem;
        background-color: var(--primary-bg-color);
    }
    .header__nav {
        display: flex;
    }
    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}
